@import url(https://fonts.googleapis.com/css?family=Inconsolata);

.form-div {
  margin: 50px auto 50px;
  padding: 25px 15px 10px 15px;
  border: 1px solid #3e4849;
  border-radius: 5px;
  font-size: 1.1em ;
  font-family: 'Inconsolata', serif;
}

.form-control:focus {
  box-shadow: none;
}

form p {
  font-size: 0.85em;
}