form.signin-token {
    padding: 60px 0;
    margin: 0;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.button.token {
    margin-top: 10px;
   padding: 10px 30px;
}

p {
    font-weight: 300;
    color: white;
    margin: 10px 0 0 0;
}

.instructions {
    width: 80%;
    max-width: 1800px;
    margin: 30px 0 0 0;
    padding: 10px 0 0px 0;

    border-top: 1px solid #E44C4C;
}

.instructions p {
    font-size: 20px;
    font-weight: 300;
}

@media screen and (max-width: 700px) {
    .page-wrapper {
        width: 100%;
    }


    .panel-arrangement{
        width: 100%;
        padding: 0 50px;
        display: flex;
        justify-content: center;
    }

    .input-group {
        margin-left: 0;
        margin-right: 0;
    }

    .group-of-inputs {
        margin: 0;
    }

    .button.token {
        margin-bottom: 30px;
    }
}